In [3]:
import pandas as pd 
%matplotlib
import matplotlib.pyplot as plt
#pd.options.plotting.backend = "plotly"

Using matplotlib backend: QtAgg

In [4]:
# import the data from github 
download_uri = ('https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/recent-grads.csv')

In [5]:
# create the pyspark dataframe 
df = pd.read_csv(download_uri)

In [6]:
# check the datatype for the dataframe 
type(df)

pandas.core.frame.DataFrame

In [5]:
# display the first five rows of the dataframe 
pd.set_option("display.max.columns", None)
df.head()

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,Full_time,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,1849,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,556,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,558,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,1069,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,23170,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [7]:
# plotting the graph on the rank of income vs the median , 25th % of income and 75 % of income by Engineering majors
df.plot(x="Rank", y=["P25th", "Median", "P75th"])
plt.show()

In [8]:
plt.plot(df["Rank"], df["P75th"])

In [10]:
df.plot(x="Rank", y=["P25th", "Median", "P75th"])
plt.show()

In [11]:
# distribution and histograms 
median_col = df["Median"]
type[median_col]

type[0      110000
1       75000
2       73000
3       70000
4       65000
        ...
168     26000
169     25000
170     25000
171     23400
172     22000
Name: Median, Length: 173, dtype: int64]

In [12]:
# plot the median income level 
median_col.plot(kind='hist')

In [17]:
# calculate the top 5 engineering majors based on median income 
top_5 = df.sort_values(by="Median", ascending=False).head()
top_5.plot(x = "Major", y="Median", kind="bar", rot=5, fontsize=4)

In [20]:
# analysis of Engineering majors where median income > $60000
top_medians = df[df["Median"] > 60000].sort_values("Median")
top_medians.plot(x = "Major", y=["P25th", "Median", "P75th"], kind="bar")

In [21]:
# correlation check to unployment rate vs median income 
# correlation between earnings and employment 
df.plot(x ="Median", y="Unemployment_rate", kind="area")

In [23]:
# Grouping and Aggregtion 
category_total = df.groupby("Major_category")["Total"].sum().sort_values()
category_total

Major_category
Interdisciplinary                        12296.0
Agriculture & Natural Resources          75620.0
Law & Public Policy                     179107.0
Physical Sciences                       185479.0
Industrial Arts & Consumer Services     229792.0
Computers & Mathematics                 299008.0
Arts                                    357130.0
Communications & Journalism             392601.0
Biology & Life Science                  453862.0
Health                                  463230.0
Psychology & Social Work                481007.0
Social Science                          529966.0
Engineering                             537583.0
Education                               559129.0
Humanities & Liberal Arts               713468.0
Business                               1302376.0
Name: Total, dtype: float64

In [25]:
category_total.plot(kind='barh', fontsize=4)

In [26]:
# on category basis, income analysis 
small_category_totals = category_total[category_total < 100_000]
big_category_totals = category_total[category_total > 100_000]
big_category_totals.plot(kind="pie", fontsize=4)

In [28]:
# For engineering division, the avrage median income distribution in histogram
df[df["Major_category"] == "Engineering"]["Median"].plot(kind="hist")