In [1]:
import findspark
findspark.init()

In [2]:
import pandas as pd
import numpy as np
import pyspark.pandas as ps 
from pyspark.sql import SparkSession

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [3]:
s = ps.Series([1, 3, 5, np.nan, 6, 8])
s

/usr/local/spark/python/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/03 10:19:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/03 10:19:14 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/03 10:19:14 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

/usr/local/spark/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
psdf = ps.DataFrame(
     {'a': [1, 2, 3, 4, 5, 6],
      'b': [100, 200, 300, 400, 500, 600],
      'c': ["one", "two", "three", "four", "five", "six"]},
     index=[10, 20, 30, 40, 50, 60])

/usr/local/spark/python/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/usr/local/spark/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [5]:
psdf

    a    b      c
10  1  100    one
20  2  200    two
30  3  300  three
40  4  400   four
50  5  500   five
60  6  600    six

In [7]:
# create a pandas DataFrame by passing a numpy array with a datetime index and labeled columns

dates = pd.date_range('20130101', periods=6)

In [8]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
pdf = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
pdf

                   A         B         C         D
2013-01-01 -1.055574  1.117296  1.230511  0.266327
2013-01-02  0.003827 -1.148726 -1.584354 -1.000481
2013-01-03  2.731975 -0.600643 -0.604877 -2.210166
2013-01-04 -1.091648  0.659081  0.736959  0.039672
2013-01-05  1.385403 -1.133652  0.840445 -1.596952
2013-01-06  0.148989  0.172894 -0.416777  0.188015

In [10]:
# Now, this pandas dataframe can be converted to pandas-on-pyspark dataframe 
psdf = ps.from_pandas(pdf)
type(psdf)

/usr/local/spark/python/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/usr/local/spark/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

pyspark.pandas.frame.DataFrame

In [11]:
psdf

/usr/local/spark/python/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

                   A         B         C         D
2013-01-01 -1.055574  1.117296  1.230511  0.266327
2013-01-02  0.003827 -1.148726 -1.584354 -1.000481
2013-01-03  2.731975 -0.600643 -0.604877 -2.210166
2013-01-04 -1.091648  0.659081  0.736959  0.039672
2013-01-05  1.385403 -1.133652  0.840445 -1.596952
2013-01-06  0.148989  0.172894 -0.416777  0.188015